In [1]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
for i in numbers:
    print(i)

1
2
3
4
5

In [3]:
for i in numbers:
    print(i*i)

1
4
9
16
25

In [13]:
for i in range(1,6):
    if i % 2 == 0:
        print(f'{i} is even')
    else:
            print(f'{i}is odd')

1is odd
2 is even
3is odd
4 is even
5is odd

In [18]:
number = [1,3,5,7,9]
for i, item in enumerate(numbers):
    numbers[i]*= 2
numbers

[32, 64, 96, 128, 160]

In [19]:
for _ in range(5):
    print('Alarm!')

Alarm!
Alarm!
Alarm!
Alarm!
Alarm!

In [20]:
#find all pairs sum of which equals 0

In [22]:
list1 = [2,4,-5,6,8,-2]
list2 = [2,-6,8,3,5,-2]
pairs = []
for x  in list1:
    for y in list2:
        cur_sum = x+y
        if cur_sum == 0:
            pairs.append((x,y))
pairs

[(2, -2), (-5, 5), (6, -6), (-2, 2)]